/* Global */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 25px;
}

/* Section */
.section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
}

/* ================= GRID ================= */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 20px;
}

.grid-item {
    padding: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
}

.item1 { background-color: #ff6b6b; }
.item2 { background-color: #4dabf7; }
.item3 { background-color: #51cf66; }
.item4 { background-color: #f59f00; }
.item5 { background-color: #845ef7; }
.item6 { background-color: #20c997; }

/* ================= ICON ================= */
.icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    margin-top: 15px;
}

.icon-box i {
    color: #000;
}

/* ================= IMAGE TRANSFORMS ================= */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.img-box {
    text-align: center;
}

.img-box img {
    border-radius: 8px;
     width: 150px;        /* FIXED WIDTH */
    height: 150px;       /* FIXED HEIGHT */
    object-fit: cover;   /* crop neatly */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* rotate */
.rotate:hover {
    transform: rotate(20deg);
}

/* scale */
.scale:hover {
    transform: scale(1.3);
}

/* skew */
.skew:hover {
    transform: skew(12deg, 8deg);
}

/* translate */
.translate:hover {
    transform: translate(20px, 20px);
}

/* translateX */
.translate-x:hover {
    transform: translateX(30px);
}

/* translateY */
.translate-y:hover {
    transform: translateY(-30px);
}

/* Footer */
.footer {
    text-align: center;
    margin: 40px 0;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
